[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
cython = "*"
pyqt5 = "*"
Pillow = '*'

[requires]
python_version = "3.7"
